
<h1>Welcome to good burger! Home of the good burger!</h1>


<h2>Can I take your order?</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca"></label>
    <input type="text" id="ca" name="name">
  </div>


  <button type="submit">Make it snappy</button>
</form>

<h2>Order up!</h2>
<ul>
  {{#each burgers}}
    {{#unless devour}}
      {{>burgers/burger-block devour=0}}
    {{/unless}}
  {{/each}}
</ul>

<ul>
  {{#each burgers}}
    {{#if devour}}
      {{>burgers/burger-block devour= 1}}
    {{/if}}
  {{/each}}
</ul>    


